* {
    box-sizing: border-box;
  }
body {
    background: linear-gradient(to bottom, #ffffff 0%, #cc3399 100%);
    height: 1145px;
    font-family: 'Times New Roman', Times, serif;
}
.LOGO   {
    position: absolute;
    left: 550px;
    top: 45px;
    bottom: 480px;
    z-index: 1;
}
#LOGO   {
    height: 250px;
    width: 250px;
    border-radius: 25px;
}

header {
    background: linear-gradient(to bottom, #66ffff 0%, #ff0066 100%);
    height: 275px;
    width: 1349px;
    position: absolute;
    top: 0;
    left: 0;
}
a {
    text-decoration: none;
    color: saddlebrown;
}
a:hover {
    color: yellow;
}
/*for "Home" inside Nav*/
.nav {
    color: white;
    border-right: 5px dotted pink;
    border-left: 5px dotted pink;
    width: 140px;
    height: 30px;
    text-align: center;
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 3px;
}

/*Hover effect inside Nav. "The Links" */
#hov:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    border-radius: 30px;
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
}

nav {
    background: linear-gradient(to bottom, #ffffff 31%, #663300 130%);
    font-size: 20px;
    width: 1349px;
    height: 61px;
    position: absolute;
    left: 0;
    top: 275px;
    padding: 0px 50px 71px 280px;
}
.dropbtn {
    color: saddlebrown;
    background: linear-gradient(to bottom, #ffff66 0%, #993300 100%);
    text-decoration: none;
    width: 136px;
    height: 30px;
    text-align: center;
    padding: 5px 10px 23px 10px;
    font-size: medium;
  }
  .dropbtn:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    border-radius: 30px;
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border: none;
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, #ccffcc, #ff99cc);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    }
    .hover {
        display: inline-block;
        position: static;
    }
    .positionn {
        position: absolute;
        top: 350px;
        left: 130px;
    }
    .hover .span {
        visibility: hidden;
        width: 130px;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        font-size: 30px;
        font-weight: bold;
        z-index: 1;
    }
    .hover:hover .span {
        visibility: visible; /* for the "span" visibility */    
    }
    #model {
        height: 800px;
        width: 370px;
    }
    #model:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #Dresses {
        height: 410px;
        width: 350px;
    }
    #Dresses:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #Dress {
        height: 410px;
        width: 330px;
    }
    #Dress:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .center {
        position: absolute;
        top: 350px;
        left: 510px;
    }
    .right {
        position: absolute;
        top: 350px;
        left: 870px;
    }
    .last {
        position: absolute;
        top: 770px;
        left: 510px;
    }
    #Last {
        height: 380px;
        width: 690px;
    }
    #Last:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .copyright {
        text-align: center;
        background: linear-gradient(to bottom, #66ffff 0%, #ff0066 100%);
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        position: absolute;
        width: 1349px;
        left: 0;
        top: 1155px;
    }