* {
    box-sizing: border-box;
    margin: 0;
  }
  .LOGO {
    position: absolute;
    left: 50px;
    bottom: 480px;
    top: 20px;
  }
  #LOGO{
    height: 190px;
    width: 230px;
    border-radius: 30px;
}

  header {
    background-color: #ccffcc;
    width: 100%;
    height: 50px;
  }
body {
    background-image: linear-gradient(to right, #ccffcc, #ff99cc);
    padding-top: 100px;
}
a {
    text-decoration: none;
    color: saddlebrown;
}
a:hover {
    color: yellow;
}
/*for "Home" inside Nav*/
.nav {
    color: white;
    background-color: black;
    border-right: 5px dotted pink;
    border-left: 5px dotted pink;
    width: 140px;
    height: 30px;
    text-align: center;
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 3px;
}

/*Hover effect inside Nav. "The Links" */
#hov:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    border-radius: 30px;
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
}

nav {
    background-color: #e39f9f;
    padding: 13px 0px 5px 50px;
    font-size: 20px;
    width: 871px;
    height: 61px;
    left: 448px;
    box-shadow: 10px 10px 6px black;
    position: absolute;
    top: 90px;
    border-style:outset;
    border-color: gray;
    border-radius: 25px; 
    padding-right: 50px;
    padding-left: 50px;
}
 .box {
     background-color: gray;
     height: 458px;
     width: 260px;
     top: 180px;
     left: 50px;
     position: absolute;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }
 .boximage {
     width: 100%;
 }
 .inside {
     padding: 10px;
     color: thistle;
 }
 .title {
     color: mediumaquamarine;
     font-weight: bolder;
 }
 #Marielle {
     left: 300px;
 }
 .Jonalynn {
    background-color: gray;
    height: 458px;
    width: 260px;
    top: 180px;
    left: 800px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }

 .Carmelaa {
    background-color: gray;
    height: 458px;
    width: 260px;
    top: 180px;
    position: absolute;
    left: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }
 /* sites share */
 .sharelinks1 {
    opacity: 0.5;
    margin-left: 275px;
    top: 657px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks1:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}

.sharelinks2 {
    opacity: 0.5;
    margin-left: 390px;
    top: 657px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks2:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.sharelinks3 {
    opacity: 0.5;
    margin-left: 510px;
    top: 657px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks3:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.sharelinks4 {
    opacity: 0.5;
    margin-left: 630px;
    top: 657px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks4:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.sharelinks5 {
    opacity: 0.5;
    margin-left: 750px;
    top: 657px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks5:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.sharelinks6 {
    opacity: 0.5;
    margin-left: 865px;
    top: 657px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks6:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.sharelinks7 {
    opacity: 0.5;
    margin-left: 975px;
    top: 657px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks7:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}


.copyright {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: purple;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    position: absolute;
    width: 1349px;
    top: 780px;
}
.dropbtn {
    color: saddlebrown;
    background-image: linear-gradient(to right, #ccffcc, #ff99cc);
    text-decoration: none;
    width: 136px;
    height: 30px;
    text-align: center;
    padding: 5px 10px 23px 10px;
    font-size: medium;
  }
  .dropbtn:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    border-radius: 30px;
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border: none;
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, #ccffcc, #ff99cc);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    }